* {
  box-sizing:border-box;
  margin:0; padding:0;
  list-style:none;
}
.movies {
  display:flex;
  flex-flow:row wrap; 
  justify-content:space-around;
  padding:20px;
}
.movies section {
  width:45%; 
  margin-bottom:30px; 
  background:#fff;
}
.movies section .container {
  display:flex; padding:10px;
  box-shadow:0 5px 10px rgba(0,0,0,0.2);
}
.movies section .container img {margin-right:20px;}